<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Eat the Burger</h1>
            <hr>
            <h2>Type in the burger you'd like, hit submit, devour the burger</h2>
        </div>

    </div>



    <div class="row">
        <div class="col-6 text-center">
            <form class="burgerform">
                <input type="hidden" class="burgerid" type="text" value={{this.id}}>
                <br>
                <button type="submit" class="btn btn-warning"> Devour it</button>
            </form>
        </div>

    </div>
</div>